.property-details {
    width: 382px;
    margin: 0 auto;
    padding: 2.4em 0em 2em 0em;
}
.property-details .mat-card {
    padding: 0px;
}
form {
    padding: 1.5em;
}
.property-details .mat-raised-button {
    width: 150px;
}
.image-uploader {
    padding: 14px 0px 20px 0px;
}
