.property-details {
    width: 375px;
    margin: 0 auto;
    padding-top: 5em;
}
.property-details .mat-card {
    padding: 0px;
}
form {
    padding: 1.5em;
}
.property-details .mat-raised-button {
    width: 150px;
}